/* ================================
   RESET
================================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f1f5f9;
}

/* ================================
   LAYOUT PRINCIPAL
================================ */
.container {
  display: flex;
  height: 100vh;
}

html, body {
  height: 100%;
}

.layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 240px;
  background-color: #0f172a;
  color: #fff;
  padding: 20px;
  min-height: 100vh; /* ISSO AQUI resolve */
}

/* ================================
   SIDEBAR
================================ */
.sidebar {
  width: 240px;
  background-color: #0f172a;
  color: #fff;
  padding: 20px;
}

.logo {
  margin-bottom: 30px;
  text-align: center;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin-bottom: 15px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #cbd5e1;
  display: block;
  padding: 10px;
  border-radius: 6px;
  transition: 0.3s;
}

.sidebar ul li a:hover {
  background-color: #1e293b;
  color: #fff;
}